<!-- app/modules/profile/templates/profile/edit_profile.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プロフィール編集</title>
</head>
<body>
    <h2>プロフィール編集フォーム</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            <label>Slack Webhook URL:</label>
            <input type="text" name="webhook_url" value="{{ webhook_url }}" style="width: 500px;">
            <button type="submit">設定更新</button>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
