{% extends "base.html" %}
{% set page_title = "ユーザー作成" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 bg-light sidebar py-4">
                {% include 'layout/sidebar.html' %}
            </div>

            <!-- Main User Create Area -->
            <div class="col-md-10">
                <!-- Navbar -->
                {% include 'layout/navbar.html' %}

                <!-- ユーザー作成の内容 -->
                <div class="user-create-container border rounded p-4 shadow-sm" style="height:75vh; overflow-y:auto;">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
                        <p>{{ form.email.label }}<br>{{ form.email(size=32) }}</p>
                        <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
                        <p>{{ form.submit() }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}